.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('https://c4.wallpaperflare.com/wallpaper/862/443/771/gym-wallpaper-preview.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }