<app-home-menu></app-home-menu>
<header class="masthead">
    <div class="container h-100 col-6 mt-5">
        <div class="row h-100">
            <div class="col-12 mt-5">
                <div class="card border-0 shadow my-5">
                    <div class="card-body p-5">
                        <h1 class="fw-light text-center">Welcome!!!</h1>
                        <div class="lead">
                            <p class="text-center text-success">Are you a new user? ---> <a class="link-primary" href="/register">Register</a></p>
                        </div>
                        <div class="lead">
                            <p class="text-center text-success">Are you an aldready registered user? ---> <a class="link-primary" href="/login">Login</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>